@import '../../app.scss';
.register{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("background.jpg");
    background-size: cover;
    position: relative;

      .top{
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 40px;
                @include mobile{
                    display: none;
                }
            }

            .loginR{
                cursor:pointer;
                background-color: red;
                border: none;
                color: white;
                border-radius: 5px;
                padding: 5px 15px;
                font-size: 16px;
                font-weight: 500;
                z-index: 100;
                @include mobile{
                    position: absolute;
                    top: 5%;
                    right: 10%;
                    font-size: 10px;
                }
            }
        }
      }

    .container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h1{
            font-size: 50px;
            @include mobile{
                font-size: 20px;
            }
        }

        h2{
            margin: 20px;
            @include mobile{
                font-size: 15px;
            }
        }

        p{
            font-size: 20px;
            @include mobile{
                font-size: 10px;
            }
        }
        .input{
            width: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 50px;
            border-radius: 7px;
            @include mobile{
                height: 25px;
                border-radius: 2px;
            }

            input{
                flex:9;
                height: 100%;
                border: none;
                padding: 0 10px;
                border-radius: 7px;
                @include mobile{
                    border-radius: 2px;
                    font-size: 10px;
                }
            }
            .registerButton{
                margin: 0;
                flex: 3;
                height: 100%;
                background-color: red;
                border: none;
                color: white;
                font-size: 20px;
                cursor: pointer;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 7px;
                @include mobile{
                    font-size: 10px;
                    border-radius: 2px;
                }
            }
        }
    }   
}